/* nejsme vcerejsi, pouzivame moderni box model */
html {
	box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
}

nav{
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 0.5rem;

}

a:hover{
    background-color: white;
    color: blue;
}

img{
    margin: 0.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media  screen and (min-width:750px) {
    nav{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .container{
        flex-direction: row;
        flex-basis: 50%;
    }
}